* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    background: url(imagens/fundo-madeira.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
}

.redes-sociais ul {
    text-align: right;
}

.redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
}

.redes-sociais img:hover {
    border: 2px solid white;
    transition: 1s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
}

#iphone {
    background: url(imagens/frame-iphone.png) no-repeat;
    display: block;
    margin: auto;
    height: 627px;
    width: 311px;
    position: relative;
    bottom: 270px;
}

iframe {
    display: block;
    position: relative;
    height: 7;
}

