body {
    box-sizing: border-box;
    background-image: url(imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
}
pre {
    text-align: right;
}

pre > a > img {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
}

a > img:hover {
    border: 2px solid white;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.541);
}

div {
    text-align: center;
    transform: translateY(-50%);
}
